<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>关于我们</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
    	
    </style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- common-header  -->
    <div class="common-header clearfix">
        <!-- common-header-top -->
        <div class="common-header-top">
            <div class="wrap clearfix">
				<h3>欢迎访问楚汉学堂官网!</h3>
				<div class="common-list fr">
					<ul>
						<li><a href="#">联系电话</a>|</li>
						<li><a href="#">13301673063 (孙老师)</a></li>
						<li><a href="#">18638669667 (黄老师)</a>|</li>
					</ul>
				</div>
            </div>
        </div>
        <!-- common-header-top -->
       <!--common-header-bottom -->
        <div class="common-header-bottom clearfix" style="border-bottom:solid 2px; color:grey;">
            <div class="wrap clearfix">
				<img style="margin-top:-20px;" src="images/logo.png" width="140" height="140" alt="">
                <div class="nav-list fr">
					<ul>
						<li><a href="index_real.html">网站首页</a></li>
						<li><a href="talents.html">师生风采</a></li>
						<li><a href="school.html">入学流程</a></li>
						<li><a href="course.html">课程体系</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
                </div>
            </div>                                               
        </div>
        <!--common-header-bottom -->
    </div>
    <!-- common-header  -->
    <!-- about-main -->
    <div class="about-main clearfix">
    	<!-- about-banner -->
       <div class="about-banner">
       		<div class="about-banner-cont wrap">
       			<h3>
       				<img src="images/about_company_bg.png" alt="">
       			</h3>
       			<p>楚汉学堂，2016年创建于河南省郑州市金水区，是一所专注于少儿棋类培训的教育机构。
					我们以负责、善教、专业的理念，吸纳来自国内象棋一线选手的教师团队,已培育出多名省事级少儿冠军。
					我们采用多年打磨的标准化的教学大纲，课程体系由浅入深，由易到难，让学生更加易容逐步提升。
					我们运用寓教于乐的教学方式，摆脱枯燥乏味的填鸭式教育，更适合少儿的学习氛围。
					同时，更采用赛事引导机制，由导师负责引导学生参加国内大赛，形成了教、学、练、赛一体化模式,极大的提升了学生的学习效果。
					楚汉学堂将秉承专业求精的要求，认真负责的态度，不懈努力的成为国内优秀的棋类教育机构。</p>
       		</div>
       </div>
       	<!-- about-banner -->
        <!--about-company -->
       	<div class="about-company wrap">
       		<h3><img src="images/about_company_title.png" alt=""></h3>
       		<!-- about-company-info -->
       		<div class="about-company-info clearfix">
       			<div class="about-info-left fl">
       				<img src="images/about_company_info.jpg" alt="">
       			</div>
       			<div class="about-info-right fl">
					<p>
						<em>一、楚汉学堂创办愿景</em><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;做更专业的少儿棋类教育机构。
					</p>
					<p style="margin-top: 12px;">
						<em>二、楚汉学堂办学宗旨</em><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选拔专业，善教，负责的老师，采用适合少儿的教学方法，让每一位孩子真正的学有所得，让每一位家长放心托付。

					</p>
					<p style="margin-top: 12px;">
						<em>三、楚汉学堂教学目标</em><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;培养孩子爱思考、会思考的习惯；培养孩子胜不骄，败不馁的涵养；培养孩子善交流，能沟通的能力。
					</p>

       				<p style="margin-top: 12px;"	>
       					<em>四、楚汉学堂教学方法</em><br>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;寓教于乐，发展和培养孩子的兴趣，拒绝填鸭式教学。
       				</p>

       			</div>
       		</div>
       	</div>
 		<!--about-company -->
		<!-- about-ry  -->
		<div class="about-jd clearfix wrap">
			<h3><img src="images/about_kj_title.jpg" alt=""></h3>
			<div class="about-jd-cont">
				<div class="aoubt-jd-list">
					<h2>2016年</h2>
					<p>2016年7月份，楚汉学堂正式成立。</p>
					<p>2016年9月份，开始着手修订标准教材。</p>
					<h2 style="margin-top: 30px;">2017年</h2>
					<p>2017年4月份，标准教材修订完成。</p>
					<p>2017年8月份，实施小班教学，增加老师和学生的互动。</p>
					<p>2017年8月份，教学模式改革，加入娱乐和竞争，极大激发了孩子的学习兴趣。</p>
					<h2 style="margin-top: 15px;">2018年</h2>
					<p>2017年2月份，上线官网www.chuhanxuetang.cn。</p>
					<p>2018年4月份，郑州丰庆路办学点成立。</p>
					<p>2018年6月份，郑州东三街办学点成立</p>

				</div>
			</div>
		</div>
    </div>
     <!-- about-main -->

	<div class="common-footer clearfix">
		<div class="wrap clearfix">
			<ul class="common-footer-list">
				<li><a href="#">网站首页</a>|</li>
				<li><a href="#">师生风采</a>|</li>
				<li><a href="#">入学流程</a>|</li>
				<li><a href="#">课程体系</a>|</li>
				<li><a href="#">家长分享</a>|</li>
				<li><a href="#">关于我们</a>|</li>
			</ul>
			<div class="footer-info">
				<div class="footer-info-cont">
					<p>公司地址:郑州市郑东新区商鼎路12号龙祥苑&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：wudi8525hf@163.com</p>
					<p>电话热线:13661759110&nbsp;&nbsp;&nbsp;&nbsp;18638669667</p>
				</div>
			</div>

		</div>
		<div class="common-footer-copy">
			<p>©2013 ChuHan All rights reserved.   豫ICP备15032129号</p>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
    	jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
    </script>
</body>

</html>