<!DOCTYPE html>
<html lang="zh-CN" ng-app="chineseChess">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>课程体系</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="bower_components/angular/angular.js"></script>
    <script src="an/app.module.js"></script>
    <script src="an/course-list.js"></script>
</head>

<body>
    <!-- common-header  -->
    <div class="common-header clearfix" style="border-bottom:solid 2px; color:grey;">
        <!-- common-header-top -->
        <div class="common-header-top">
            <div class="wrap clearfix">
                <h3>欢迎访问楚汉学堂官网!</h3>
                <div class="common-list fr">
                    <ul>
                        <li><a href="#">联系电话</a>|</li>
                        <li><a href="#">13301673063 (孙老师)</a></li>
                        <li><a href="#">18638669667 (黄老师)</a>|</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- common-header-top -->
       <!--common-header-bottom -->
        <div class="common-header-bottom clearfix">
            <div class="wrap clearfix">
                <img style="margin-top:-20px;" src="images/logo.png" width="140" height="140" alt="">
                <div class="nav-list fr">
                    <ul>
                        <li><a href="index.html">网站首页</a></li>
                        <li><a href="talents.html">师生风采</a></li>
                        <li><a href="school.html">入学流程</a></li>
                        <li><a href="course.html">课程体系</a></li>
                        <li><a href="about.html">关于我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--common-header-bottom -->
    </div>
    <!-- common-header  -->
    <!-- answer-main -->
    <div class="advertise-main clearfix">
    	<div class="wrap advertise-main-container clearfix">
    		<!-- advertise-cont -->
    		<div class="advertise-cont clearfix">
    			<div class="advertise-ht clearfix">
    				<p class="on">1. 因材施教</p>
    				<p>2. 严谨专业</p>
    				<p>3. 自成体系</p>
    			</div>
    			<!-- advertise-info -->
    			<div class="advertise-info">
    				<div class="info-title">
    					<h3>
    						教学大纲
    					</h3>
    				</div>
    				<div class="info-cont clearfix">
    					<div class="info-list">
                            <course-list></course-list>
    					</div>
    				</div>
    			</div>
    			<!-- advertise-info -->
    		</div>
    		<!-- advertise-cont -->
    	</div>
    </div>
     <!-- answer-main -->

    <div class="common-footer clearfix">
        <div class="wrap clearfix">
            <ul class="common-footer-list">
                <li><a href="#">网站首页</a>|</li>
                <li><a href="#">师生风采</a>|</li>
                <li><a href="#">入学流程</a>|</li>
                <li><a href="#">课程体系</a>|</li>
                <li><a href="#">家长分享</a>|</li>
                <li><a href="#">关于我们</a>|</li>
            </ul>
            <div class="footer-info">
                <div class="footer-info-cont">
                    <p>公司地址:郑州市郑东新区商鼎路12号龙祥苑&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：wudi8525hf@163.com</p>
                    <p>电话热线:13661759110&nbsp;&nbsp;&nbsp;&nbsp;18638669667</p>
                </div>
            </div>

        </div>
        <div class="common-footer-copy">
            <p>©2013 ChuHan All rights reserved.   豫ICP备15032129号</p>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>