<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>楚汉学堂,象棋教学火热招生中。咨询：133-0167-3063</title>
    <meta name="description" content="楚河在线创建于2016年,由国内一线选手组成的教师团队,已培育许多优秀的少年棋手。由导师负责引导学生参加国内大赛。形成了教、学、练、赛一体化模式。极大的提升了学生的学习效果。云棋课堂正引进更多优秀的高水平教师，让每一名学生都能名师出高徒。" />
    <meta name="keywords" content="楚汉学堂 郑州东三街 郑州丰庆路 郑州金水区 象棋教学 中国象棋 象棋 学校" />
    <meta name="mr_edward@163.com" content="象棋教学">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="main-im">
    <div class="im_main" id="im_main">
        <a href="#" class="im-qq qq-a" title="微信客服">
            <div class="qq-container"></div>
            <div class="qq-hover-c"><img class="img-qq" src="images/weixin.png"></div>
            <span> 微&nbsp;信&nbsp;扫&nbsp;码</span>
        </a>
        <div class="im-tel">
            <div>咨询电话一</div>
            <div class="tel-num">133-0167-3063</div>
            <div>咨询电话二</div>
            <div class="tel-num">186-3866-9667</div>
        </div>
    </div>
</div>
    <!-- common-header  -->
    <div class="common-header clearfix">
        <!-- common-header-top -->
        <div class="common-header-top">
            <div class="wrap clearfix">
                <h3>欢迎访问楚汉学堂官网!</h3>
                <div class="common-list fr">
                    <ul>
                        <li><a href="#">联系电话</a>|</li>
                        <li><a href="#">13301673063 (孙老师)</a></li>
                        <li><a href="#">18638669667 (黄老师)</a>|</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- common-header-top -->
       <!--common-header-bottom -->
        <div class="common-header-bottom clearfix" style="border-bottom:solid 2px; color:grey;">
            <div class="wrap clearfix">
                <img style="margin-top:-20px;" src="images/logo.png" width="140" height="140" alt="">
                <div class="nav-list fr">
                    <ul>
                        <li><a href="index_real.html">网站首页</a></li>
                        <li><a href="talents.html">师生风采</a></li>
                        <li><a href="school.html">入学流程</a></li>
                        <li><a href="course.html">课程体系</a></li>
                        <li><a href="about.html">关于我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--common-header-bottom -->
    </div>
    <!-- common-header  -->
    <!-- index-main -->
    <div class="index-main clearfix">
        <!-- index-banner -->
        <div class="index-banner">
            <img src="images/index_banner_img1.jpg" style="width:100%; height:602px" alt="">
        </div>
        <!-- index-banner -->
        <!-- index-container -->
        <div class="index-container wrap clearfix">
           <!-- index-list-left -->
            <div class="index-list-left fl">
                <div class="index-list-title">
                    <p style="font-size: 16px;">新闻通知</p>
                </div>
                <div class="index-left-cont clearfix">
                    <ul>
                        <li>
                            <a href="#">
                                <p>招生信息<em>郑州，东三街校区，暑期班火热招生中，欢迎来电咨询。</em></p><span class="time">[2018-07-22]</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>招生信息<em>郑州，丰庆路校区，暑期班火热招生中，欢迎来电咨询。</em></p><span class="time">[2018-07-22]</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>招生信息<em>郑州，聚源路校区，暑期班火热招生中，欢迎来电咨询。</em></p><span class="time">[2018-07-22]</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     <!-- index-main -->

    <div class="common-footer clearfix">
        <!--<div class="wrap clearfix">-->
            <!--<ul class="common-footer-list">-->
                <!--<li><a href="#">网站首页</a>|</li>-->
                <!--<li><a href="#">师生风采</a>|</li>-->
                <!--<li><a href="#">入学流程</a>|</li>-->
                <!--<li><a href="#">课程体系</a>|</li>-->
                <!--<li><a href="#">家长分享</a>|</li>-->
                <!--<li><a href="#">关于我们</a>|</li>-->
            <!--</ul>-->
            <!--<div class="footer-info">-->
                <!--<div class="footer-info-cont">-->
                    <!--<p>公司地址:郑州市郑东新区商鼎路12号龙祥苑&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：wudi8525hf@163.com</p>-->
                    <!--<p>电话热线:13661759110&nbsp;&nbsp;&nbsp;&nbsp;18638669667</p>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="common-footer-copy">-->
            <!--<p>©2013 ChuHan All rights reserved.   豫ICP备15032129号</p>-->
        <!--</div>-->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>