<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>入学流程</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- common-header  -->
    <div class="common-header clearfix">
        <!-- common-header-top -->
        <div class="common-header-top">
            <div class="wrap clearfix">
				<h3>欢迎访问楚汉学堂官网!</h3>
				<div class="common-list fr">
					<ul>
						<li><a href="#">联系电话</a>|</li>
						<li><a href="#">13301673063 (孙老师)</a></li>
						<li><a href="#">18638669667 (黄老师)</a>|</li>
					</ul>
				</div>
            </div>
        </div>
        <!-- common-header-top -->
       <!--common-header-bottom -->
        <div class="common-header-bottom clearfix" style="border-bottom:solid 2px; color:grey;">
            <div class="wrap clearfix">
				<img style="margin-top:-20px;" src="images/logo.png" width="140" height="140" alt="">
				<div class="nav-list fr">
					<ul>
						<li><a href="index.html">网站首页</a></li>
						<li><a href="talents.html">师生风采</a></li>
						<li><a href="school.html">入学流程</a></li>
						<li><a href="course.html">课程体系</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
                </div>
            </div>                                               
        </div>
        <!--common-header-bottom -->
    </div>
    <!-- common-header  -->
    <!-- apple-main -->
    <div class="apple-main clearfix">
    	<div class="wrap apple-main-container clearfix">
    		<div class="apple-title">
    			<img src="images/apple_title.jpg" alt="">
    		</div>
    		<div class="apple-cont">
    			<div class="apple-cont-lc clearfix">
    				<h2>一、入学流程</h2>
    				<p><img src="images/apple_lc_img.jpg" alt=""></p>
    			</div>
    			<div class="apple-cont-table clearfix">
    				<h2>二、校址位置</h2>
    				<table class="table table-striped  table-bordered  apple-table">
					      <thead>
					        <tr>                                                                                                                  
					          <th>序号</th>
					          <th>城市</th>
					          <th>地址</th>
					          <th>负责人</th>
					        </tr>
					      </thead>
					      <tbody>
					        <tr>              
					          <td>1</td>
					          <td>郑州</td>
					          <td>园田路与宏大路交叉口，正商园田花园，21号楼3单元3层西</td>
					           <td>13301673063（孙老师）</td>
					        </tr>
					         <tr>              
					          <td>2</td>
					          <td>郑州</td>
					          <td>商鼎路12号，龙祥苑，4号4单元1层东户</td>
					           <td>18638669667（黄老师）</td>
					        </tr>
					         <tr>              
					          <td>3</td>
					          <td>郑州</td>
                                 <td>东三街红旗路交叉口向北100米，爱立方快捷酒店5层033</td>
					           <td>13301673063（孙老师）</td>
					        </tr>
					      </tbody>
					    </table>
    			</div>
    			<div class="apple-cont-tip clearfix">
    				<h2>三、常见疑问</h2>
    				<div class="apple-cont-nl">
    					<p>
    						<em>1.孩子几岁学比较合适</em><br>
                            5岁就可以开始学象棋了!<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;5岁开始，孩子的大脑在高速发育中，是最适合开发智力的时期。且在该时间段，孩子时间充裕，好动好学，是锻炼思维，培养习惯的绝佳时期。
    					</p>
    					<p>
    						<em>2.孩子学习多久，象棋能达到什么水平。</em><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;根据我们以往的经验，一个完全初学的孩子，半年的学习可以参加市县级的少儿象棋比赛，一年的学习可以参加省市级的少儿象棋比赛，二年以上可以参加全国级的少儿象棋比赛。
    					</p>
    					<p>
    						<em>3.上课时间如何安排</em><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;平均一周上2次课，四个课时。具体上课时间根据学生的实际情况协商排课。同时，因为象棋需要切磋和交流，我们尽量协调同等水平，同等进度的学生一起上课，一般安排2～8人双数学生。
    					</p>
    					<p>
    						<em>4.该学象棋，还是围棋</em><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;象棋和围棋都是培养孩子独立思考的益智类业务兴趣。象棋更注重多兵种的协同作战，以及攻守策略的抉择，让孩子养成做事的大局观念；与此同时，象棋在中国具有更广泛的群众基础，
							能让孩子与亲人，朋友有更多交流的契机。所以，如果想发展一门益智类的兴趣，我们更推荐孩子学习象棋。
    					</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
     <!-- apple-main -->

	<div class="common-footer clearfix">
		<div class="wrap clearfix">
			<ul class="common-footer-list">
				<li><a href="#">网站首页</a>|</li>
				<li><a href="#">师生风采</a>|</li>
				<li><a href="#">入学流程</a>|</li>
				<li><a href="#">课程体系</a>|</li>
				<li><a href="#">家长分享</a>|</li>
				<li><a href="#">关于我们</a>|</li>
			</ul>
			<div class="footer-info">
				<div class="footer-info-cont">
					<p>公司地址:郑州市郑东新区商鼎路12号龙祥苑&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：wudi8525hf@163.com</p>
					<p>电话热线:13661759110&nbsp;&nbsp;&nbsp;&nbsp;18638669667</p>
				</div>
			</div>

		</div>
		<div class="common-footer-copy">
			<p>©2013 ChuHan All rights reserved.   豫ICP备15032129号</p>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>