<!DOCTYPE html>
<html lang="zh-CN" ng-app="chineseChess">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>师生风采</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="main-im">
	<div class="im_main" id="im_main">
		<a href="#" class="im-qq qq-a" title="微信客服">
			<div class="qq-container"></div>
			<div class="qq-hover-c"><img class="img-qq" src="images/weixin.png"></div>
			<span> 微&nbsp;信&nbsp;扫&nbsp;码</span>
		</a>
		<div class="im-tel">
			<div>咨询电话一</div>
			<div class="tel-num">133-0167-3063</div>
			<div>咨询电话二</div>
			<div class="tel-num">186-3866-9667</div>
		</div>
	</div>
</div>
    <!-- common-header  -->
    <div class="common-header clearfix">
        <!-- common-header-top -->
        <div class="common-header-top">
            <div class="wrap clearfix">
				<h3>欢迎访问楚汉学堂官网!</h3>
				<div class="common-list fr">
					<ul>
						<li><a href="#">联系电话</a>|</li>
						<li><a href="#">13301673063 (孙老师)</a></li>
						<li><a href="#">18638669667 (黄老师)</a>|</li>
					</ul>
				</div>
            </div>
        </div>
        <!-- common-header-top -->
       <!--common-header-bottom -->
        <div class="common-header-bottom clearfix" style="border-bottom:solid 2px; color:grey;">
            <div class="wrap clearfix">
				<img style="margin-top:-20px;" src="images/logo.png" width="140" height="140" alt="">
                <div class="nav-list fr">
					<ul>
						<li><a href="index_real.html">网站首页</a></li>
						<li><a href="talents.html">师生风采</a></li>
						<li><a href="school.html">入学流程</a></li>
						<li><a href="course.html">课程体系</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
                </div>
            </div>                                               
        </div>
        <!--common-header-bottom -->
    </div>
    <!-- common-header  -->
    <!-- index-main -->
    <div class="talents-main clearfix">
		<div id="talents" class="talents-one wrap">
			<div style="text-align: center">
				<h3>
				<img src="images/talents_title.jpg" alt="">
				</h3>
			</div>
			<div id = "banner_title" style="position:relative;">
				<div id = "jianli1" class="jianli" style="position: absolute">
					<div style="float: left; margin-left: 90px;">
						<img style="width: 300px; height: 400px;" src="images/hdq.png"/>
					</div>
					<div style="padding-left: 440px;">
						<p>
							<img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />姓&nbsp;&nbsp;名：黄丹青
                        </p>
                        <p>
							<img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />经&nbsp;&nbsp;验：7年
                        </p>
						<p> <img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />荣&nbsp;&nbsp;誉：</p>
						<p style="padding-left: 50px;">2007年获得全国‘’乌金杯‘’亚军</p>
						<p style="padding-left: 50px;">2009年获得河南省象棋等级赛冠军</p>
						<p style="padding-left: 50px;">2010年获得全国24市象棋公开赛冠军</p>
                        </p>
						<p><img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />简历:</p>
						<p style="padding-left: 50px; line-height:30px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黄丹青，1985年。十余岁学习中国象棋,在全国象棋大赛上，都取得过骄人战绩。
							近年从事象棋教育工作，学生任思成，8岁成为“河南省少年赛”冠军；张婉玉10岁获得“河南省象棋锦标赛”成人组女子冠军。黄老师教学方法与教学
							理念得到广大学生及家长的认可,并于2016年创办"楚汉学堂"。
                        </p>
					</div>
				</div>
				<div id = "jianli2" class="jianli" style="position: absolute; display: none;">
					<div style="float: left; margin-left: 90px;">
						<img style="width: 300px; height: 400px;" src="images/ldy.png"/>
					</div>
					<div style="padding-left: 440px;">
						<p>
							<img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />姓&nbsp;&nbsp;名：蔺道远
						</p>
						<p>
							<img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />经&nbsp;&nbsp;验：3年
						</p>
						<p> <img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />荣&nbsp;&nbsp;誉：</p>
						<p style="padding-left: 50px;">2013年西亚斯杯河南省高校象棋联赛冠军</p>
						<p style="padding-left: 50px;">2015年获得长垣县象棋大赛冠军</p>
						<p style="padding-left: 50px;">2017年获得河南省舞钢市象棋公开赛冠军</p>
						</p>
						<p><img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />简历:</p>
						<p style="padding-left: 50px; line-height:30px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蔺道远，1992年，大学本科学历，中国象棋一级运动员。蔺老师少年求学时期便热爱象棋，在名师的指点下终
							学有所成，并在各大赛事中屡获佳绩。蔺老师具有三年的教学经验，擅长寓教于乐，因材施教。 其教学水平和讲课方式有口皆碑，得到了学生和家长的一致认可。2018年，在黄丹青老师的邀请下正式加入楚汉学堂。
						</p>
					</div>
				</div>
				<div id = "jianli3" class="jianli" style="position: absolute; display: none;">
					<div style="float: left; margin-left: 90px;">
						<img style="width: 300px; height: 400px;" src="images/hdq.png"/>
					</div>
					<div style="padding-left: 440px;">
						<p>
							<img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />姓&nbsp;&nbsp;名：黄丹青
						</p>
						<p>
							<img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />经&nbsp;&nbsp;验：7年
						</p>
						<p> <img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />荣&nbsp;&nbsp;誉：</p>
						<p style="padding-left: 50px;">2007年获得全国‘’乌金杯‘’亚军</p>
						<p style="padding-left: 50px;">2009年获得河南省象棋等级赛冠军</p>
						<p style="padding-left: 50px;">2010年获得全国24市象棋公开赛冠军</p>
						</p>
						<p><img src="/images/wjx.png" style="margin-right:5px; vertical-align:text-bottom;height:20px; width:20px; " />简历:</p>
						<p style="padding-left: 50px; line-height:30px;">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黄丹青，1985年。十余岁学习中国象棋,在全国象棋大赛上，都取得过骄人战绩。
							近年从事象棋教育工作，学生任思成，8岁成为“河南省少年赛”冠军；张婉玉10岁获得“河南省象棋锦标赛”成人组女子冠军。黄老师教学方法与教学
							理念得到广大学生及家长的认可,并于2016年创办"楚汉学堂"。
						</p>
					</div>
				</div>
			</div>
			<div id="focus_title">
				<a data-index="0" href="#" class="on">
					<span class="bg-b"></span>
					<span class="inner"></span>
				</a>
				<a data-index="1" href="#">
					<span class="bg-b"></span>
					<span class="inner"></span>
				</a>
				<a data-index="2" href="#">
					<span class="bg-b"></span>
					<span class="inner"></span>
				</a>
			</div>
		</div>
		<div style="clear:both;"></div>
      	<div class="talents-three clearfix">
      		<div class="talents-three-title">
      			<img src="images/talents_three_title.jpg" alt="">
      		</div>
      		<div class="talents-three-ul clearfix">
      				<div class="picScroll-left">
						<div class="hd">
							<a class="next"></a>
							
							<a class="prev"></a>
							
						</div>
						<div class="bd">
							<ul class="picList">
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/1.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/2.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/3.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/4.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/5.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/6.jpg" /></a></div>
								</li>
								
							</ul>
						</div>
					</div>
      		</div>
      	</div>
	</div>
     <!-- index-main -->

	<div class="common-footer clearfix">
		<div class="wrap clearfix">
			<ul class="common-footer-list">
				<li><a href="#">网站首页</a>|</li>
				<li><a href="#">师生风采</a>|</li>
				<li><a href="#">入学流程</a>|</li>
				<li><a href="#">课程体系</a>|</li>
				<li><a href="#">家长分享</a>|</li>
				<li><a href="#">关于我们</a>|</li>
			</ul>
			<div class="footer-info">
				<div class="footer-info-cont">
					<p>公司地址:郑州市郑东新区商鼎路12号龙祥苑&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：wudi8525hf@163.com</p>
					<p>电话热线:13661759110&nbsp;&nbsp;&nbsp;&nbsp;18638669667</p>
				</div>
			</div>

		</div>
		<div class="common-footer-copy">
			<p>©2013 ChuHan All rights reserved.   豫ICP备15032129号</p>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/carousel.js"></script>
    <script>
    	jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
    	jQuery(".picScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
    </script>
</body>

</html>