<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>师生风采</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="main-im">
	<div class="im_main" id="im_main">
		<a href="#" class="im-qq qq-a" title="微信客服">
			<div class="qq-container"></div>
			<div class="qq-hover-c"><img class="img-qq" src="images/weixin.png"></div>
			<span> 微&nbsp;信&nbsp;扫&nbsp;码</span>
		</a>
		<div class="im-tel">
			<div>咨询电话一</div>
			<div class="tel-num">133-0167-3063</div>
			<div>咨询电话二</div>
			<div class="tel-num">186-3866-9667</div>
		</div>
	</div>
</div>
    <!-- common-header  -->
    <div class="common-header clearfix">
        <!-- common-header-top -->
        <div class="common-header-top">
            <div class="wrap clearfix">
				<h3>欢迎访问楚汉学堂官网!</h3>
				<div class="common-list fr">
					<ul>
						<li><a href="#">联系电话</a>|</li>
						<li><a href="#">13301673063 (孙老师)</a></li>
						<li><a href="#">18638669667 (黄老师)</a>|</li>
					</ul>
				</div>
            </div>
        </div>
        <!-- common-header-top -->
       <!--common-header-bottom -->
        <div class="common-header-bottom clearfix" style="border-bottom:solid 2px; color:grey;">
            <div class="wrap clearfix">
				<img style="margin-top:-20px;" src="images/logo.png" width="140" height="140" alt="">
                <div class="nav-list fr">
					<ul>
						<li><a href="index.html">网站首页</a></li>
						<li><a href="talents.html">师生风采</a></li>
						<li><a href="school.html">入学流程</a></li>
						<li><a href="course.html">课程体系</a></li>
						<li><a href="about.html">关于我们</a></li>
					</ul>
                </div>
            </div>                                               
        </div>
        <!--common-header-bottom -->
    </div>
    <!-- common-header  -->
    <!-- index-main -->
    <div class="talents-main clearfix">
      	<div class="talents-one wrap">
      		<h3>
      			<img src="images/talents_title.jpg" alt="">
      		</h3>
      		<div class="talents-cont">
      			<img src="images/talents_case_img.jpg" alt="">
      		</div>
      	</div>
      	<!--<div class="talents-two clearfix">-->
      		<!--<div class="talents-two-cont wrap">-->
      			<!--<h3><img src="images/talents_rod_title.jpg" alt=""></h3>-->
      			<!--<p>专业、管理双通道发展体系：在科捷，你将有机会深入学习专业技能，协同参与项目管理。是变身业务专家，还是升级管理大咖，你的道路由你选择！</p>-->
      			<!--<div class="talets-two-bg"></div>-->
      		<!--</div>-->
      	<!--</div>-->
      	<div class="talents-three clearfix">
      		<div class="talents-three-title">
      			<img src="images/talents_three_title.jpg" alt="">
      		</div>
      		<div class="talents-three-ul clearfix">
      				<div class="picScroll-left">
						<div class="hd">
							<a class="next"></a>
							
							<a class="prev"></a>
							
						</div>
						<div class="bd">
							<ul class="picList">
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/1.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/2.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/3.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/4.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/5.jpg" /></a></div>
								</li>
								<li>
									<div class="pic"><a href="#" target="_blank"><img src="images/6.jpg" /></a></div>
								</li>
								
							</ul>
						</div>
					</div>
      		</div>
      	</div>

      	<!--<div class="talents-four clearfix">-->
      		<!--<div class="talents-four-bg wrap">-->
      			<!--<img src="images/talents_four_bg.jpg" alt="">-->
      		<!--</div>-->
      	<!--</div>-->
      	<!--<div class="talents-five clearfix">-->
      		<!--<div class="talents-five-title">-->
      			<!--<img src="images/talents_five_title.jpg" alt="">-->
      		<!--</div>-->
      		<!--<div class="talents-five-ul clearfix">-->
      				<!--<div class="picScroll-top">-->
						<!--<div class="hd">-->
							<!--<a class="next"></a>-->
							<!---->
							<!--<a class="prev"></a>-->
							<!---->
						<!--</div>-->
						<!--<div class="bd">-->
							<!--<ul class="picList">-->
								<!--<li>-->
									<!--<div class="pic"><a href="#" target="_blank"><img src="images/talents_list_img_02.jpg" /></a></div>-->
									<!--<div class="title"><a href="#" target="_blank">员工日活动</a></div>-->
								<!--</li>-->
								<!--<li>-->
									<!--<div class="pic"><a href="#" target="_blank"><img src="images/talents_list_img_02.jpg" /></a></div>-->
									<!--<div class="title"><a href="#" target="_blank">员工日活动</a></div>-->
								<!--</li>-->
								<!--<li>-->
									<!--<div class="pic"><a href="#" target="_blank"><img src="images/talents_list_img_02.jpg" /></a></div>-->
									<!--<div class="title"><a href="#" target="_blank">员工日活动</a></div>-->
								<!--</li>-->
								<!--<li>-->
									<!--<div class="pic"><a href="#" target="_blank"><img src="images/talents_list_img_02.jpg" /></a></div>-->
									<!--<div class="title"><a href="#" target="_blank">员工日活动</a></div>-->
								<!--</li>-->
								<!--<li>-->
									<!--<div class="pic"><a href="#" target="_blank"><img src="images/talents_list_img_02.jpg" /></a></div>-->
									<!--<div class="title"><a href="#" target="_blank">员工日活动</a></div>-->
								<!--</li>-->
								<!--<li>-->
									<!--<div class="pic"><a href="#" target="_blank"><img src="images/talents_list_img_02.jpg" /></a></div>-->
									<!--<div class="title"><a href="#" target="_blank">员工日活动</a></div>-->
								<!--</li>-->
								<!---->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
      		<!--</div>-->
      	<!--</div>-->
    <!--</div>-->
     <!-- index-main -->

	<div class="common-footer clearfix">
		<div class="wrap clearfix">
			<ul class="common-footer-list">
				<li><a href="#">网站首页</a>|</li>
				<li><a href="#">师生风采</a>|</li>
				<li><a href="#">入学流程</a>|</li>
				<li><a href="#">课程体系</a>|</li>
				<li><a href="#">家长分享</a>|</li>
				<li><a href="#">关于我们</a>|</li>
			</ul>
			<div class="footer-info">
				<div class="footer-info-cont">
					<p>公司地址:郑州市郑东新区商鼎路12号龙祥苑&nbsp;&nbsp;&nbsp;&nbsp;企业邮箱：wudi8525hf@163.com</p>
					<p>电话热线:13661759110&nbsp;&nbsp;&nbsp;&nbsp;18638669667</p>
				</div>
			</div>

		</div>
		<div class="common-footer-copy">
			<p>©2013 ChuHan All rights reserved.   豫ICP备15032129号</p>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script>
    	jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
    	jQuery(".picScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,vis:4,trigger:"click"});
    </script>
</body>

</html>