/**
*
Create by huangwenqing on 2018/8/11.
*/
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="banner" id="templatemo_banner_slide" style="position:relative;">

    <div id="wy-mod-banner_title" class="wy-mod-banner_title" style="position:relative; width:100%;height:100%">
        <div style="z-index:9998;position:absolute;width:100%;margin-top:34px;text-align: center;">
            <p style="text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);font-family:KaiTi; color:black;font-size:49px; font-weight:bold;">楚河<span style="font-size:30px;">在线棋院</span>
            </p>
        </div>
        <div id="_banners_title" class="banners_title" style="height:100%;border:0px solid;">
            <!-- 试用 -->
            <div class="_banner _banner3" style="position:relative;height:100%;">
                <div class="templatemo_banner_slide_03" style="position:absolute;height:370px;width:400px; top: 0; left: 0; bottom: 0; right: 0;margin:auto; margin-top:110px; border:0px solid;">

                </div >

                <div style="position:absolute;top: 0; left: 0; bottom: 0; right: 0;margin:auto; margin-top:280px; margin-left:620px; border:0px solid;">
                    <button id="djtk" class='btn btn-primary' style="background-color:rgb(82,170,231);  width:100px; height:30px;" onclick="check_if_login()"><span class="span_sty">点击体验</span></button>
                </div>
            </div>
            <!-- 公开课 -->
            <div class="_banner _banner2 " style="position:relative;height:100%;">
                <div class="templatemo_banner_slide_02" style="position:absolute;height:350px;width:800px; top: 0; left: 0; bottom: 0; right: 0;margin:auto; margin-top:110px; border:0px solid;">
                    <div style="margin-top:40px; margin-left:80px;">
                        <div style="float:left; margin-top:20px;  margin-left:30px;" >
                            <p class="p_sty_3" style="letter-spacing:12px;">名师公开课</p>
                        </div>
                        <div style="float:left">
                            <table class="table_sty_1" style="margin-top:50px; margin-left:50px;">
                                <tr>
                                    <td><span >本期名师:&nbsp;黄丹青</span></td>
                                </tr>
                                <tr>
                                    <td><span >本期内容:&nbsp;顺手炮开局</span></td>
                                </tr>
                                <tr>
                                    <td><span >微信群&nbsp;:&nbsp;23247191</span></td>
                                </tr>
                                <tr>
                                    <td><span >开始时间:&nbsp;2016/08/18 20:00</span></td>
                                </tr>
                                <tr>
                                    <td><span >结束时间:&nbsp;2016/08/18 21:00</span></td>
                                </tr>
                                <tr>
                                    <td><span >倒计时&nbsp;:&nbsp;</span><span id="count_down" style="color:red;">3天21小时8秒</span></td>
                                </tr>
                                <tr>
                                    <td><button id="djtk" class='btn btn-primary' style="background-color:rgb(82,170,231);padding:2px 5px 2px 5px;" onclick="javascrtpt:window.open('http://www.zhangyu.tv/1822840')"><span class="span_sty">点击听课</span></button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 棋院首页 -->
            <div class="_banner _banner1 templatemo_banner_slide_01" style="height:100%">
            </div>
        </div>
        <div id="_focus_title" class="focus_title" style="position:absolute;bottom:5%; width:100%;">
            <a data-index="0" href="#" class="on">
                <span class="bg-b"></span>
                <span class="inner"></span>
            </a>
            <a data-index="1" href="#">
                <span class="bg-b"></span>
                <span class="inner"></span>
            </a>
            <a data-index="2" href="#">
                <span class="bg-b"></span>
                <span class="inner"></span>
            </a>
        </div>
    </div>
</div>

</body>
</html>