<div class="info-li">
    <img src="../images/jc.svg" style="vertical-align:middle; height:60px; width:60px;" />
    <span >零基础课程</span>
    <table class="fee_table" style="margin-left:0px; padding-left:0px;">
        <tr style="background-color:#cccccc;">
            <td></td>
            <td>教学大纲</td>
            <td>教学目的</td>
        </tr>
        <tr>
            <td rowspan=4>基础知识</td>
            <td>棋盘与棋子</td>
            <td rowspan=4>了解棋盘、棋子、走法、吃子等。学会下第一步棋。</td>
        </tr>
        <tr >
            <td>行棋与吃子</td>
        </tr>
        <tr>
            <td>规则与术语</td>
        </tr>
        <tr>
            <td>阅读棋谱</td>
        </tr>
        <!-- =====================================  -->
        <tr>
            <td rowspan=5>进攻技巧</td>
            <td>单车擒王</td>
            <td rowspan=5>进一步熟悉棋子、棋盘及象棋规则</td>
        </tr>
        <tr >
            <td>单马困将</td>
        </tr>
        <tr>
            <td>炮士联合</td>
        </tr>
        <tr>
            <td>兵的运用</td>
        </tr>
    </table>
</div>
<div class="info-li">
    <img src="../images/rm.svg" style="vertical-align:middle; height:60px; width:60px;" />
    <span >入门课程</span>
    <table class="fee_table" style="margin-left:0px; padding-left:0px;">
        <tr style="background-color:#cccccc;">
            <td></td>
            <td>教学内容</td>
            <td>教学目的</td>
        </tr>
        <tr>
            <td rowspan=3>基本阵式</td>
            <td>攻击型布阵</td>
            <td rowspan=3>了解布局原理与阵势特点。</td>
        </tr>
        <tr >
            <td>防御性布阵</td>
        </tr>
        <tr>
            <td>灵活性布阵</td>
        </tr>
        <tr>
            <td rowspan=3>基本战术与杀法</td>
            <td>“一步杀”与简易战术一</td>
            <td rowspan=3>一到三步杀法及简易战术训练。</td>
        </tr>
        <tr >
            <td>“两步杀”与简易战术二</td>
        </tr>
        <tr>
            <td>“三步杀”与简易战术三</td>
        </tr>
        <tr>
            <td rowspan=4>简易残局</td>
            <td>兵类残局</td>
            <td rowspan=4>学习基本的取胜方法和规律。</td>
        </tr>
        <tr >
            <td>马类残局</td>
        </tr>
        <tr>
            <td>跑类残局</td>
        </tr>
        <tr>
            <td>车类残局</td>
        </tr>
    </table>
</div>
<div class="info-li">
    <img src="../images/tg.svg" style="vertical-align:middle; height:60px; width:60px;" />
    <span >提高课程</span>
    <table class="fee_table" style="margin-left:0px; padding-left:0px;">
        <tr style="background-color:#cccccc;">
            <td></td>
            <td>教学内容</td>
            <td>教学目的</td>
        </tr>
        <tr>
            <td rowspan=4>布局定式</td>
            <td>中炮局</td>
            <td rowspan=4>了解各种布局阵势。</td>
        </tr>
        <tr>
            <td>飞相局</td>
        </tr>
        <tr>
            <td>进马局</td>
        </tr>
        <tr>
            <td>进兵局</td>
        </tr>
        <tr>
            <td rowspan=3>中级战术与杀法</td>
            <td>“四步杀”及高级战术一</td>
            <td rowspan=3>训练计算能力和分析能力。</td>
        </tr>
        <tr >
            <td>“五步杀”及高级战术二</td>
        </tr>
        <tr>
            <td>“六步杀”及高级战术三</td>
        </tr>
        <tr>
            <td rowspan=3>较难残局</td>
            <td>较难车类残局</td>
            <td rowspan=3>学习基本的取胜方法和规律。</td>
        </tr>
        <tr >
            <td>较难马类残局</td>
        </tr>
        <tr>
            <td>较难跑类残局</td>
        </tr>
    </table>
</div>
<div class="info-li">
    <img src="../images/jj.svg" style="vertical-align:middle; height:60px; width:60px;" />
    <span >进阶课程</span>
    <table class="fee_table" style="margin-left:0px; padding-left:0px;">
        <tr style="background-color:#cccccc;">
            <td></td>
            <td>教学内容</td>
            <td>教学目的</td>
        </tr>
        <tr>
            <td rowspan=3>高级战术与杀法</td>
            <td>精彩中局剖析</td>
            <td rowspan=3>强化心算能力，提升分析能力。</td>
        </tr>
        <tr >
            <td>高手的思考方式</td>
        </tr>
        <tr>
            <td>六步以上杀法训练</td>
        </tr>
        <tr>
            <td rowspan=3>困难残局</td>
            <td>车马类残局</td>
            <td rowspan=3>深入了解更多的胜负规律。</td>
        </tr>
        <tr >
            <td>车炮类残局</td>
        </tr>
        <tr>
            <td>双车类和马跑类残局</td>
        </tr>
    </table>
</div>
<div class="info-li">
    <img src="../images/zyh.svg" style="vertical-align:middle; height:60px; width:60px;" />
    <span >职业化课程</span>
    <table class="fee_table" style="margin-left:0px; padding-left:0px;">
        <tr style="background-color:#cccccc;">
            <td></td>
            <td>教学内容</td>
            <td>教学目的</td>
        </tr>
        <tr>
            <td rowspan=3>赛局剖析</td>
            <td>大赛棋局讲解</td>
            <td rowspan=3>学习与领会实战要领。</td>
        </tr>
        <tr >
            <td>经典棋局讲解</td>
        </tr>
        <tr>
            <td>流行布局讲解</td>
        </tr>
        <tr>
            <td rowspan=3>实战复盘</td>
            <td>师生对弈并复盘讲解</td>
            <td rowspan=3>提升实战能力。</td>
        </tr>
        <tr >
            <td>学生对弈并复盘讲解</td>
        </tr>
        <tr>
            <td>学生参赛棋局复盘剖析</td>
        </tr>
    </table>
</div>