@charset "utf-8";
@import "common.css";
/* index-main */
.index-main .index-banner {
  width: 1440px;
  height: 602px;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
}
.index-main .index-container {
  padding: 60px 0 122px 0;
}
.index-main .index-container .index-list-left,
.index-main .index-container .index-list-right {
  overflow: hidden;
  zoom: 1;
}
.index-main .index-container .index-list-left {
  width: 620px;
}
.index-main .index-container .index-list-left .index-left-cont {
  width: 100%;
  overflow: hidden;
  zoom: 1;
}
.index-main .index-container .index-list-left .index-left-cont ul {
  overflow: hidden;
  zoom: 1;
}
.index-main .index-container .index-list-left .index-left-cont ul li {
  width: 100%;
  background: url(../images/index_list_sub.jpg) no-repeat left center;
  padding-left: 13px;
  border-bottom: 1px dotted #d5d5d5;
  height: 31px;
  line-height: 31px;
  float: left;
}
.index-main .index-container .index-list-left .index-left-cont ul li a {
  font-size: 12px;
  color: #777777;
}
.index-main .index-container .index-list-left .index-left-cont ul li a p {
  float: left;
}
.index-main .index-container .index-list-left .index-left-cont ul li a p em {
  padding-left: 30px;
}
.index-main .index-container .index-list-left .index-left-cont ul li a span.time {
  float: right;
  color: #b0b0b0;
  padding-right: 15px;
}
.index-main .index-container .index-list-left .index-left-cont ul li a:hover {
  color: #fd661f;
}
.index-main .index-container .index-list-right {
  width: 315px;
}
.index-main .index-container .index-list-right .index-right-cont .subLi {
  width: 100%;
  overflow: hidden;
  zoom: 1;
  padding-bottom: 4px;
}
.index-main .index-container .index-list-right .index-right-cont .subLi a {
  display: block;
  overflow: hidden;
  zoom: 1;
}
.index-main .index-container .index-list-right .index-right-cont .subLi a:hover {
  color: #fd661f;
}
.index-main .index-container .index-list-right .index-right-cont .subLi img {
  float: left;
  padding-right: 15px;
}
.index-main .index-container .index-list-right .index-right-cont .subLi .list {
  width: 195px;
  float: left;
}
.index-main .index-container .index-list-right .index-right-cont .subLi .list h3 {
  font-size: 18px;
  color: #cb0302;
  padding-bottom: 10px;
}
.index-main .index-container .index-list-right .index-right-cont .subLi .list p {
  font-size: 12px;
  color: #777777;
  line-height: 25px;
}
.index-main .index-container .index-list-right .index-right-cont ul {
  overflow: hidden;
  zoom: 1;
}
.index-main .index-container .index-list-right .index-right-cont ul li {
  width: 100%;
  background: url(../images/index_list_sub.jpg) no-repeat left center;
  padding-left: 13px;
  border-bottom: 1px dotted #d5d5d5;
  height: 32px;
  line-height: 32px;
  float: left;
}
.index-main .index-container .index-list-right .index-right-cont ul li a {
  font-size: 12px;
  color: #777777;
}
.index-main .index-container .index-list-right .index-right-cont ul li a:hover {
  color: #fd661f;
}
.index-main .index-container .index-list-right .index-right-cont ul li a p {
  float: left;
}
.index-main .index-container .index-list-right .index-right-cont ul li a span.time {
  float: right;
  color: #b0b0b0;
}
.index-main .index-container .index-list-title {
  height: 40px;
  line-height: 40px;
}
.index-main .index-container .index-list-title h3 {
  float: left;
}
.index-main .index-container .index-list-title a {
  float: right;
}
.index-main .index-link {
  height: 74px;
  line-height: 74px;
  background: #f1f1f1;
  border: 1px solid #dcdcdc;
  padding-left: 30px;
}
.index-main .index-link .index-link-img {
  float: left;
  padding-top: 14px;
}
.index-main .index-link ul {
  float: left;
}
.index-main .index-link ul li {
  float: left;
  font-size: 12px;
  color: #d5d5d5;
}
.index-main .index-link ul li a {
  padding: 0 14px;
  color: #5e5e5e;
}
.index-main .index-link ul li a:hover {
  color: #fd661f;
}
/* index-main */
/* answer-main */
.answer-main {
  padding: 28px 0 35px 0;
}
.answer-main .answer-main-container {
  border: 1px solid #e4e4e4;
  padding: 30px 20px 92px 24px;
}
.answer-main .answer-main-container .answer-title {
  width: 929px;
  height: 33px;
}
.answer-main .answer-main-container .answer-list {
  padding-left: 57px;
}
.answer-main .answer-main-container .answer-list .answer-li {
  overflow: hidden;
  zoom: 1;
  padding-top: 34px;
}
.answer-main .answer-main-container .answer-list .answer-li .answer-q {
  overflow: hidden;
  zoom: 1;
}
.answer-main .answer-main-container .answer-list .answer-li .answer-q img {
  float: left;
  padding-right: 20px;
}
.answer-main .answer-main-container .answer-list .answer-li .answer-q p {
  float: left;
  width: 90%;
  line-height: 30px;
  padding-bottom: 10px;
  color: #c81513;
  border-bottom: 1px solid #efefef;
}
.answer-main .answer-main-container .answer-list .answer-li .answer-a {
  overflow: hidden;
  zoom: 1;
  padding-top: 20px;
}
.answer-main .answer-main-container .answer-list .answer-li .answer-a img {
  float: left;
  padding-right: 20px;
}
.answer-main .answer-main-container .answer-list .answer-li .answer-a p {
  float: left;
  width: 90%;
  line-height: 30px;
  padding-bottom: 10px;
  color: #575656;
  border-bottom: 1px solid #efefef;
}
/* answer-main */
/* advertise-main */
.advertise-main {
  padding: 28px 0 35px 0;
}
.advertise-main .advertise-main-container {
  border: 1px solid #e4e4e4;
  padding: 30px 20px 92px 24px;
}
.advertise-main .advertise-main-container .advertise-title {
  width: 929px;
  padding-bottom: 17px;
  overflow: hidden;
  zoom: 1;
}
.advertise-main .advertise-cont .advertise-ht {
  width: 929px;
  height: 44px;
  line-height: 44px;
  background: url(../images/advertise_ht.jpg) no-repeat;
}
.advertise-main .advertise-cont .advertise-ht p {
  float: left;
  font-size: 18px;
  color: #3a3a3a;
  padding: 0 100px;
}
.advertise-main .advertise-cont .advertise-ht p.on {
  color: #fff;
}
.advertise-main .advertise-cont .advertise-info {
  overflow: hidden;
  zoom: 1;
  padding-top: 30px;
  padding-bottom: 10px;
}
.advertise-main .advertise-cont .advertise-info .info-title {
  height: 75px;
  line-height: 75px;
  overflow: hidden;
  zoom: 1;
  border-bottom: 1px solid #e8e8e8;
}
.advertise-main .advertise-cont .advertise-info .info-title h3 {
  background: url(../images/advertise_icon.jpg) no-repeat left center;
  font-size: 20px;
  color: #2a3231;
  float: left;
  padding-left: 73px;
  font-weight: bold;
}

.advertise-main .advertise-cont .advertise-info .info-title p {
   float: right;
   font-size: 14px;
   color: #575656;
   padding-right: 5px;
 }

.advertise-main .advertise-cont .advertise-info .info-cont .info-list {
  overflow: hidden;
  zoom: 1;
}
.advertise-main .advertise-cont .advertise-info .info-cont .info-list .info-li {
  width: 100%;
  overflow: hidden;
  zoom: 1;
  padding-top: 36px;
}

.advertise-main .advertise-cont .advertise-info .info-cont .info-list .info-li span{
  font-size:19px;
  padding-left: 8px;
}

.advertise-main .advertise-cont .advertise-info .info-cont .info-list h3 {
  color: #575656;
  font-size: 16px;
  line-height: 40px;
}
.advertise-main .advertise-cont .advertise-info .info-cont .info-list p {
  font-size: 12px;
  color: #575656;
  line-height: 40px;
}
.advertise-main .advertise-cont .advertise-info .info-cont .info-button {
  text-align: center;
  padding-top: 30px;
}
/* advertise-main */
/* advertise-inside-cont */
.advertise-inside-cont .advertise-from {
  overflow: hidden;
  zoom: 1;
  padding-bottom: 45px;
}
.advertise-inside-cont .advertise-from label {
  color: #575656;
  font-size: 12px;
  padding-right: 5px;
}
.advertise-inside-cont .advertise-from .form-control.job-area {
  width: 126px;
}
.advertise-inside-cont .advertise-from .form-control.job-name {
  width: 285px;
}
.advertise-inside-cont .advertise-from .form-control.job-country {
  width: 93px;
  padding-right: 10px;
}
.advertise-inside-cont .advertise-from .form-control.job-city {
  width: 124px;
}
.advertise-inside-cont .advertise-from .form-job-radio {
  line-height: 34px;
}
.advertise-inside-cont .advertise-from .form-job-radio input[type=checkbox],
.advertise-inside-cont .advertise-from .form-job-radio input[type=radio] {
  margin: 12px 10px 0 -20px;
}
.advertise-inside-cont .advertise-from label.radio-inline {
  padding-left: 25px;
}
.advertise-inside-cont .advertise-from .btn-search {
  margin-left: 10px;
}
.advertise-inside-cont .advertise-table .table > thead > tr > th {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  background: #c81513;
  height: 44px;
  line-height: 44px;
  font-weight: bold;
}
.advertise-inside-cont .advertise-table .table-hover > tbody > tr {
  height: 41px;
  line-height: 41px;
  font-size: 12px;
  color: #888888;
}
.advertise-inside-cont .advertise-table .table-hover > tbody > tr a {
  color: #44659e;
  font-weight: bold;
}
/* advertise-inside-cont */
/* about-main */
.about-main .about-banner {
  overflow: hidden;
  zoom: 1;
  width: 100%s;
  height: 332px;
  background-image: url(../images/about_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 80px 0 0 10px;
}
.about-main .about-banner h3 {
  width: 567px;
  padding-bottom: 30px;
  text-align: center;
}
.about-main .about-banner p {
  width: 567px;
  line-height: 30px;
  text-indent: 2em;
  color: #333333;
  font-size: 12px;
}
.about-main .about-company {
  overflow: hidden;
  zoom: 1;
  padding: 66px 0 78px 0;
}
.about-main .about-company h3 {
  text-align: center;
}
.about-main .about-company .about-company-info {
  padding-top: 35px;
}
.about-main .about-company .about-company-info .about-info-right {
  padding-left: 145px;
  width: 530px;
  overflow: hidden;
  zoom: 1;
}
.about-main .about-company .about-company-info .about-info-right p {
  line-height: 24px;
  font-size: 12.25px;
  color: #333333;
  padding-top: 15px;
}
.about-main .about-company .about-company-info .about-info-right p em {
  font-weight: bold;
}
.about-main .about-ry .about-ry-cont {
  overflow: hidden;
  zoom: 1;
  width: 100%;
  height: 408px;
  padding: 65px 205px 0;
  background-image: url(../images/about_ry_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  /* 本例子css */
}
.about-main .about-ry .about-ry-cont h3 {
  text-align: center;
  padding-bottom: 37px;
}
.about-main .about-ry .about-ry-cont .picScroll-left {
  width: 910px;
  margin: 0 auto;
  position: relative;
  height: 210px;
}
.about-main .about-ry .about-ry-cont .picScroll-left .hd {
  width: 910px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}
.about-main .about-ry .about-ry-cont .picScroll-left .hd .prev,
.about-main .about-ry .about-ry-cont .picScroll-left .hd .next {
  display: block;
  position: absolute;
  width: 26px;
  height: 44px;
  margin-right: 5px;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
  margin-top: -22px;
}
.about-main .about-ry .about-ry-cont .picScroll-left .hd .prev {
  left: -50px;
  top: 105px;
  background: url("../images/arrow_left.png") no-repeat left center;
}
.about-main .about-ry .about-ry-cont .picScroll-left .hd .next {
  right: -50px;
  top: 105px;
  background: url("../images/arrow_right.png") no-repeat left center;
}
.about-main .about-ry .about-ry-cont .picScroll-left .hd ul {
  float: right;
  overflow: hidden;
  margin-top: 10px;
  zoom: 1;
}
.about-main .about-ry .about-ry-cont .picScroll-left .hd ul li {
  float: left;
  width: 9px;
  height: 9px;
  overflow: hidden;
  margin-right: 5px;
  text-indent: -999px;
  cursor: pointer;
  background: url("images/icoCircle.gif") 0 -9px no-repeat;
}
.about-main .about-ry .about-ry-cont .picScroll-left .hd ul li.on {
  background-position: 0 0;
}
.about-main .about-ry .about-ry-cont .picScroll-left .bd {
  width: 910px;
}
.about-main .about-ry .about-ry-cont .tempWrap {
  width: 910px!important;
}
.about-main .about-ry .about-ry-cont .picScroll-left .bd ul {
  overflow: hidden;
  zoom: 1;
  width: 100%;
}
.about-main .about-ry .about-ry-cont .picScroll-left .bd ul li {
  width: 220px!important;
  float: left;
  height: 193px;
  _display: inline;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
  background: #ffffff;
}
.about-main .about-ry .about-ry-cont .picScroll-left .bd ul li .pic {
  text-align: center;
  width: 220px;
  height: 134px;
  margin: 18px 0 15px 0;
}
.about-main .about-ry .about-ry-cont .picScroll-left .bd ul li .pic img {
  width: 197px;
  height: 134px;
  display: inline-block;
}
.about-main .about-ry .about-ry-cont .picScroll-left .bd ul li .title {
  line-height: 24px;
}
.about-main .about-jd {
  padding-top: 70px;
}
.about-main .about-jd h3 {
  text-align: center;
  padding-bottom: 70px;
}
.about-main .about-jd .about-jd-cont {
  overflow: hidden;
  zoom: 1;
  height: 1048px;
  background: url(../images/about_kj_list.jpg) no-repeat left center;
}
.about-main .about-jd .about-jd-cont .aoubt-jd-list {
  overflow: hidden;
  zoom: 1;
  padding-left: 227px;
}
.about-main .about-jd .about-jd-cont .aoubt-jd-list h2 {
  font-size: 20px;
  color: #ffffff;
  line-height: 47px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.about-main .about-jd .about-jd-cont .aoubt-jd-list p {
  line-height: 28px;
  color: #494541;
  font-size: 12.5px;
  background: #f4f4f4;
  padding: 20px 0 20px 35px;
}
/* about-main */
/* talents-main */
.talents-main {
  padding-top: 40px;
}
.talents-main .talents-one {
  overflow: hidden;
  zoom: 1;
  text-align: center;
  padding-bottom: 30px;
}
.talents-main .talents-one h3 {
  padding-bottom: 40px;
}
.talents-main .talents-two {
  height: 360px;
  background: #cb2422;
}
.talents-main .talents-two .talents-two-cont {
  padding-top: 106px;
  position: relative;
}
.talents-main .talents-two .talents-two-cont h3 {
  padding-bottom: 15px;
}
.talents-main .talents-two .talents-two-cont p {
  width: 390px;
  line-height: 24px;
  color: #ffffff;
  font-size: 12px;
  padding-left: 5px;
}
.talents-main .talents-two .talents-two-cont .talets-two-bg {
  width: 518px;
  height: 214px;
  position: absolute;
  right: 47px;
  top: 66px;
  background: url(../images/talents_rod_info.jpg) no-repeat;
}
.talents-main .talents-three {
  padding: 60px 0 55px 0;
}
.talents-main .talents-three .talents-three-title {
  text-align: center;
  overflow: hidden;
  zoom: 1;
  padding-bottom: 33px;
}
.talents-main .talents-three .talents-three-ul .picScroll-left {
  width: 910px;
  margin: 0 auto;
  position: relative;
  height: 256px;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .hd {
  width: 910px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .hd .prev,
.talents-main .talents-three .talents-three-ul .picScroll-left .hd .next {
  display: block;
  position: absolute;
  width: 26px;
  height: 44px;
  margin-right: 5px;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
  margin-top: -22px;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .hd .prev {
  left: -50px;
  top: 128px;
  background: url("../images/arrow_left_gray.png") no-repeat left center;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .hd .next {
  right: -50px;
  top: 128px;
  background: url("../images/arrow_right_gray.png") no-repeat left center;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .hd ul {
  float: right;
  overflow: hidden;
  margin-top: 10px;
  zoom: 1;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .hd ul li {
  float: left;
  width: 9px;
  height: 9px;
  overflow: hidden;
  margin-right: 5px;
  text-indent: -999px;
  cursor: pointer;
  background: url("images/icoCircle.gif") 0 -9px no-repeat;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .hd ul li.on {
  background-position: 0 0;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .bd {
  width: 910px;
}
.talents-main .talents-three .talents-three-ul .tempWrap {
  width: 910px!important;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .bd ul {
  overflow: hidden;
  zoom: 1;
  width: 100%;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .bd ul li {
  width: 220px!important;
  float: left;
  border: 2px solid #e5e5e5;
  height: 280px;
  _display: inline;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
  background: #ffffff;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .bd ul li .pic {
  text-align: center;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .bd ul li .pic img {
  width: 202px;
  height: 270px;
  display: inline-block;
}
.talents-main .talents-three .talents-three-ul .picScroll-left .bd ul li .title {
  line-height: 45px;
}
.talents-main .talents-four {
  height: 330px;
  background: #cb2422;
  padding: 54px 0 0 50px;
}
.talents-main .talents-five {
  padding: 60px 0 55px 0;
}
.talents-main .talents-five .talents-five-title {
  text-align: center;
  overflow: hidden;
  zoom: 1;
  padding-bottom: 33px;
}
.talents-main .talents-five .talents-five-ul .picScroll-top {
  width: 910px;
  margin: 0 auto;
  position: relative;
  height: 256px;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .hd {
  width: 910px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .hd .prev,
.talents-main .talents-five .talents-five-ul .picScroll-top .hd .next {
  display: block;
  position: absolute;
  width: 26px;
  height: 44px;
  margin-right: 5px;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
  margin-top: -22px;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .hd .prev {
  left: -50px;
  top: 128px;
  background: url("../images/arrow_left_gray.png") no-repeat left center;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .hd .next {
  right: -50px;
  top: 128px;
  background: url("../images/arrow_right_gray.png") no-repeat left center;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .hd ul {
  float: right;
  overflow: hidden;
  margin-top: 10px;
  zoom: 1;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .hd ul li {
  float: left;
  width: 9px;
  height: 9px;
  overflow: hidden;
  margin-right: 5px;
  text-indent: -999px;
  cursor: pointer;
  background: url("images/icoCircle.gif") 0 -9px no-repeat;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .hd ul li.on {
  background-position: 0 0;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .bd {
  width: 910px;
}
.talents-main .talents-five .talents-five-ul .tempWrap {
  width: 910px!important;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .bd ul {
  overflow: hidden;
  zoom: 1;
  width: 100%;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .bd ul li {
  width: 220px!important;
  float: left;
  border: 1px solid #e5e5e5;
  height: 256px;
  _display: inline;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
  background: #ffffff;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .bd ul li .pic {
  text-align: center;
  padding-top: 5px;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .bd ul li .pic img {
  width: 202px;
  height: 198px;
  display: inline-block;
}
.talents-main .talents-five .talents-five-ul .picScroll-top .bd ul li .title {
  line-height: 45px;
}
/* talents-main */
/* news-main */
.news-main {
  padding: 28px 0 35px 0;
}
.news-main .news-main-container {
  border: 1px solid #e4e4e4;
  padding: 30px 20px 92px 24px;
}
.news-main .news-main-container .news-title {
  width: 929px;
  height: 33px;
}
.news-main .news-main-container .news-article {
  padding-top: 45px;
  overflow: hidden;
  zoom: 1;
}
.news-main .news-main-container .news-article h3 {
  font-size: 25px;
  color: #313131;
  text-align: center;
  padding-bottom: 25px;
}
.news-main .news-main-container .news-article .news-info {
  height: 42px;
  line-height: 42px;
  background: #f8f8f8;
  text-align: center;
}
.news-main .news-main-container .news-article .news-info p {
  display: inline-block;
  padding-right: 30px;
  color: #575656;
  font-size: 12px;
}
.news-main .news-main-container .news-article .news-cont {
  width: 760px;
  margin: 0 auto;
  padding-top: 45px;
}
.news-main .news-main-container .news-article .news-cont p {
  color: #575656;
  line-height: 24px;
  font-size: 12px;
  text-indent: 2em;
}
/* news-main */
/* apple-main */
.apple-main {
  padding: 28px 0 35px 0;
}
.apple-main .apple-main-container {
  border: 1px solid #e4e4e4;
  padding: 30px 20px 92px 24px;
}
.apple-main .apple-main-container .apple-title {
  width: 929px;
  height: 33px;
  margin-bottom: 25px;
}
.apple-main .apple-main-container .apple-cont {
  height: 1528px;
  padding-left: 40px;
  background: url(../images/apple_bg.jpg) no-repeat left center;
}
.apple-main .apple-main-container .apple-cont .apple-cont-lc h2 {
  font-size: 20px;
  color: #ffffff;
  height: 47px;
  line-height: 47px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-lc p {
  padding-top: 30px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table {
  padding-top: 40px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table h2 {
  font-size: 20px;
  color: #ffffff;
  height: 47px;
  line-height: 47px;
  margin-bottom: 30px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table .table-bordered > tbody > tr > td,
.apple-main .apple-main-container .apple-cont .apple-cont-table .table-bordered > tbody > tr > th,
.apple-main .apple-main-container .apple-cont .apple-cont-table .table-bordered > tfoot > tr > td,
.apple-main .apple-main-container .apple-cont .apple-cont-table .table-bordered > tfoot > tr > th,
.apple-main .apple-main-container .apple-cont .apple-cont-table .table-bordered > thead > tr > td,
.apple-main .apple-main-container .apple-cont .apple-cont-table .table-bordered > thead > tr > th {
  border: 2px solid #fff;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table .apple-table {
  margin-top:80px;
  text-align: center;
  width: 714px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table .apple-table thead tr {
  background: #616161;
  color: #fff;
  font-size: 14px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table .apple-table thead tr th {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table .apple-table tbody > tr > td {
  border-bottom: 2px solid #fff;
  font-size: 12px;
  color: #494541;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table .apple-table tbody > tr:nth-of-type(odd) {
  background: #f3f3f3;
}
.apple-main .apple-main-container .apple-cont .apple-cont-table .apple-table tbody > tr:nth-of-type(even) {
  background: #eaeaea;
}
.apple-main .apple-main-container .apple-cont .apple-cont-tip {
  margin-top:55px;
  padding-top: 31px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-tip h2 {
  font-size: 20px;
  color: #ffffff;
  height: 47px;
  line-height: 47px;
  margin-bottom: 35px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-tip .apple-cont-nl {
  width: 714px;
  overflow: hidden;
  zoom: 1;
  background: #f4f4f4;
  padding-left: 30px;
  padding-right: 32px;
  padding-top: 10px;

}
.apple-main .apple-main-container .apple-cont .apple-cont-tip .apple-cont-nl p {
  font-size: 12.25px;
  color: #494541;
  line-height: 28px;
  padding-bottom: 10px;
}
.apple-main .apple-main-container .apple-cont .apple-cont-tip .apple-cont-nl p em {
  font-weight: bold;
}
.apple-main .apple-main-container .apple-cont .apple-cont-tip .apple-cont-nl p span {
  color: #c81513;
}

.fee_table{
  border:1px solid;
  width :900px;
  border-width: 1px;
  font: normal normal normal 18px/23px "SimSun", SimSun;
  padding: 3px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

.fee_table td {
  text-align: left;
  border:1px solid;
  vertical-align:middle;
  text-align: center;
  padding-top:5px; padding-bottom:5px;
}

.main_im{ margin:0; padding:0; list-style:none;}
.main-im{ position:fixed; right: 10px; top:200px; z-index: 100; width: 110px; height: 272px; }
.main-im .qq-a { display: block; width: 106px; height: 116px; font-size: 14px; color: #0484cd; text-align: center; position: relative; }
.main-im .qq-a span { bottom: 5px; position: absolute; width: 90px; left: 10px; }
.main-im .qq-hover-c { width: 70px; height: 70px;  position: absolute; left: 18px; top: 10px; overflow: hidden; z-index: 9; }
.main-im .qq-container { z-index: 99; position: absolute; width: 109px; height: 118px; border-bottom: 1px solid #dddddd;}
.main-im .img-qq {max-width: 60px; display: block; position: absolute; left: 6px; top: 3px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.main-im .im-qq:hover .img-qq{ max-width: 70px; left: 1px; top: 8px; position: absolute; }
.main-im .im_main {background: #F9FAFB; border: 1px solid #dddddd;  background: #F9FAFB;}
.main-im .im_main .im-tel { color: #000000; text-align: center; width: 109px; height: 105px; border-bottom: 1px solid #dddddd; }
.main-im .im_main .im-tel div{font-weight:bold;font-size: 12px;margin-top:11px;}
.main-im .im_main .im-tel .tel-num { font-family: SimSun; font-weight: bold; color: #e66d15;}
.main-im .im_main .im-tel:hover { background: #fafafa; }
/* apple-main */
